.*
!.gitignore
!.perltidyrc
*~
blib
Makefile*
!Makefile.PL
*META.*
MANIFEST*
!MANIFEST.SKIP
pm_to_blib
.project
Meta.yml
Makefile
blib
inc
Makefile.old
pm_to_blib
#*#
log/*.log
t/benchmark/*
t/temp.out
data/RegulomeDB/*.db
data/SnpDB/*.db
nytprof.out
tmon.out
