
* {margin: 0; padding: 0}

img {
  border: none;
}

/************************************************
*	Hyperlinks									*
************************************************/

a:link, a:visited  { color:#053aab; text-decoration:none; outline:none;}
a:active	{ color:#053aab; text-decoration:underline; outline:none;}
a:hover  	{ color:#980d0d; text-decoration:underline; outline:none;}

body 
{ 
  background-color: #ffffff;
  font-family: arial, sans-serif;
  color: #000000;
  font-size: 100%; 
}  

h1 {
    margin: 8px;
}

tr, td { border: 1px solid #CBC7BD; padding: 7px; font-size:15px; }
tr.odd { background-color: #eff3eb; }

body>div {
   width: 1000px;
   margin: 0px auto;
}

.note {
    text-align: left;
    font-style: italic; 
    margin: 3px 0px;
    font-size: 16px
}

div.clearfloats { clear: both; }

.alignright {float: right; }
.aligncenter {text-align: center; }

div#input {
    margin: 10px auto;
    text-align: center;
}

#header, #footer
{
  text-align: left;   
  width: 1000px;
  margin: 0px auto;
  background: #375830;
}

#header
{
  height: 50px;
}

#location
{
  width: 700px;
  font-size:14px;
  text-align: center;
}

#location > img { 
  vertical-align: middle;
}

#footer p
{
    font-size: 9px;
    color: #EFF3EA;
    padding: 14px;
}

#logo
{
  float: left;
  padding-left: 4px;
  padding-top: 4px;
}

#banner > img
{
  margin: 20px  240px;
}

#genomic_region > img
{
  margin: 0 145px;
}

#genomic_region > a
{
  margin: 0 145px;
}

#banner h1, #banner h2
{
    text-align: center;
}

#headerright
{
  float: right;
  width: 600px;
  height: 50px;
  text-align: right;
}

#headerright > a:link, #headerright > a:visited
{ 
    color: #eff3ea; 
    text-decoration: none; 
    outline: none;
    padding: 6px;
    position: relative;
    top: 14px;
}
}
#headerright > a:hover, #headerright > a:active	
{ 
    color:#eff3ea;
    text-decoration:underline;
    outline:none;
    padding: 6px;
    position: relative;
    top: 14px;
}

.tooltip {
	display:none;
	background:transparent url(/images/tooltip/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#eff3ea;	
}

#manual_input
{
  width: 600px;
}

.input_example:link 
{
	color: #375830;
	text-decoration: none;
}

.input_example:visited 
{
	color: #375830;
	text-decoration: none;
}

.input_example:active
{
	color: #375830;
	text-decoration: underline;
}

.input_example:hover
{
	color: #980d0d;
	text-decoration: underline;
}


#input_text
{
  margin: 5px 0px;
  width: 600px;
}

#upload
{
  width: 600px;
}

#help_section
{
  width: 600px;
  margin: 20px auto;
}


#help_tabs 
{
  margin: 20px auto;
  width: 600px;
  font-size: 14px;
  
}
#snp_analysis
{
    width: 100%;
}

div.dataTables_length
{
    padding: 4px 15px;
}
#snp_detail
{
    width: 100%;
}

#summary_table
{
    margin: 0px auto;
    width: 740px;
}

#detail_table
{
    width: 100%;
}

#main_help
{
    width: 800px;
    margin: 22px auto;
}

#main_help_text
{
  font-size:14px;
  padding-left: 42px;
  padding-bottom: 15px;	
}

#main_help_text p {
  padding-bottom:6px;
}

#main_help_list {
  padding-left: 1em;
  padding-bottom: 15px;
}

#main_help table {
  border-spacing: 0;
  padding: 4px;
}

#main_help tr th {
  background-color: #bfbfbf;
  padding: 4px 16px;
}

#main_help td {
  font-size: 13px;
  padding-left: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#about_content, #info
{
    width: 880px;
    margin: 22px auto;
}

#about_content p, #info p
{
    padding: 12px;
}

#input {
    padding: 9px 0;
}

#error {
    padding: 9px 0;
}

#error > p {
    padding: 0 0.7em;
}

#error span.ui-icon {
    float: left; 
    margin-right: 0.3em;
}
#error a {
    color: #375830;
// not sure why this need to override ui-state-error
}

.text-ui-icon {
    display: inline-block !important;
    padding-right: 1px !important;
// additional styling when icons in embedded 
}

div.container {
    width: 900px;
}

.evidence_table {
    padding: 8px;
    width: 900px;
}

div.evidence_table h3 {
    padding:  5px;
    margin: 12px 0 0 auto;
    font-size: 17px;
}

.ev_dt_table {
    width: 100%;
}
img.ens_browser { width: 250px; }
/*****************************************
** For styled file input              ****
******************************************/


span.selected-button {
    font-size: 14px;
    padding: 0.4em 1em;
}

input.ui-button, span.button{
    font-size: 14px;
}

.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.file-wrapper input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    z-index: 1;
    font-size: 100px;
}

.file-wrapper .buttonOther {
  background: #375830;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  padding: 4px 18px;
}

span.file-holder { 
   color: #375830;
   padding: 5px;
}
