
* {margin: 0; padding: 0}

img {
  border: none;
}

/************************************************
*	Hyperlinks									*
************************************************/

a:link,a:visited	{ color:#375830; text-decoration:none; outline:none;}
a:hover,a:active	{ color:#375830; text-decoration:underline; outline:none;}

body 
{ 
  background-color: #ffffff;
  font-family: arial, sans-serif;
  color: #000000;
  font-size: 100%; 
}  

h1 {
    margin: 8px;
}

tr, td { border: 1px solid #CBC7BD; padding: 10px}
tr.odd { background-color: #eff3eb; }

body>div {
   width: 1000px;
   margin: 0px auto;
}

.note {
    text-align: left;
    font-style: italic; 
    margin: 3px 0px;
}

div.clearfloats { clear: both; }

.alignright {float: right; }
.aligncenter {text-align: center; }

div#input {
    margin: 10px auto;
    text-align: center;
}

#header, #footer
{
  text-align: left;   
  width: 1000px;
  margin: 0px auto;
  background: #375830;
}

#header
{
  height: 50px;
}

#footer p
{
    font-size: 12px;
    color: #EFF3EA;
    padding: 14px;
}

#logo
{
  float: left;
}

#banner > img
{
  margin: 0 130px;
}

#genomic_region > img
{
  margin: 0 145px;
}

#banner h1, #banner h2
{
    text-align: center;
}

#headerright
{
  float: right;
  width: 600px;
  height: 50px;
  text-align: right;
}

#headerright > a:link, #headerright > a:visited
{ 
    color: #eff3ea; 
    text-decoration: none; 
    outline: none;
    padding: 6px;
    position: relative;
    top: 14px;
}
}
#headerright > a:hover, #headerright > a:active	
{ 
    color:#eff3ea;
    text-decoration:underline;
    outline:none;
    padding: 6px;
    position: relative;
    top: 14px;
}

.tooltip {
	display:none;
	background:transparent url(/images/tooltip/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#eff3ea;	
}

#manual_input
{
  width: 600px;
}

#input_text
{
  margin: 5px 0px;
  width: 600px;
}

#upload
{
  width: 600px;
}

.help_tabs
{
  margin: 30px auto;
  width: 220px;
  font-size: 13px;
  
}
.tab_container * {
 display: inline;
}

#snp_analysis
{
    width: 100%;
}

div.dataTables_length
{
    padding: 4px 15px;
}
#snp_detail
{
    width: 100%;
}

#summary_table
{
    margin: 0px auto;
    width: 770px;
}

#detail_table
{
    width: 100%;
}

#main_help
{
    width: 800px;
    margin: 22px auto;
}

#about_content
{
    width: 880px;
    margin: 22px auto;
}

#about_content p
{
    padding: 12px;
}

#input {
    padding: 16px 0.7em;
}

#error {
    padding: 16px 0.7em;
}
#error span.ui-icon {
    float: left; 
    margin-right: 0.3em;
}
#error a {
    color: #375830;
// not sure why this need to override ui-state-error
}

div.container {
    width: 900px;
}

.evidence_table {
    padding: 20px;
    width: 900px;
}

div.evidence_table h3 {
    padding:  7px;
    margin: 12px 0 0 auto;
}

.ev_dt_table {
    width: 100%;
}
img.ens_browser { width: 250px; }
/*****************************************
** For styled file input              ****
******************************************/


span.selected-button {
    font-size: 14px;
    padding: 0.4em 1em;
}

input.ui-button, span.button{
    font-size: 14px;
}

.file-wrapper {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.file-wrapper input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    z-index: 1;
    font-size: 100px;
}

.file-wrapper .buttonOther {
  background: #375830;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
  padding: 4px 18px;
}

span.file-holder { 
   color: #375830;
   padding: 5px;
}